body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: #134f93; /* リンクのデフォルト色（青） */
  text-decoration: none; /* リンクの下線を消す */
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}