.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  z-index: 1;
}

.header {
  text-align: center;
  padding: 2rem 0;
  background-color: #1a1a2e;
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.0rem;
  color: #aaa;
}

.section {
  margin-bottom: 2rem;
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #1a1a2e;
}

.main {
  padding: 2rem 0;
}

.intro, .projects, .research, .languages, .skills, .education {
  margin-bottom: 2rem;
}

.projects {
  text-align: center;
}

.cardContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}


/* .card {
  background: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.card {
  flex: 1;
  min-width: 280px;
  padding: 1rem;
  background: white;
  border: 2px solid #1a1a2e;
  border-radius: 8px;
  transition: transform 0.2s ease, border-color 0.2s ease;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid #1da1f2;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.popupContent button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popupContent button:hover {
  background: #005bb5;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #1a1a2e;
  color: white;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  opacity: 0.8;
  z-index: 1000;
}

.backToTop:hover {
  background: #005bb5;
  opacity: 1;
}

.closeButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover {
  background: #005bb5;
}


.snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.header, .main, .footer {
  position: relative;
  z-index: 1;
}


/* ソーシャルリンクのスタイル */
.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.socialLinks a {
  color: white;
  transition: color 0.3s;
}

.socialLinks a:hover {
  color: #1da1f2; /* Twitterブルー */
}

/* 各セクションのアイコン */
.icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.experienceList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experienceItem {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.period {
  font-size: 0.9rem;
  color: #134f93;
  font-weight: bold;
  width: 100px;
  flex-shrink: 0;
}
.period2 {
  font-size: 0.9rem;
  color: #3cb371;
  font-weight: bold;
  width: 100px;
  flex-shrink: 0;
}
.period3 {
  font-size: 0.9rem;
  color: orange;
  font-weight: bold;
  width: 100px;
  flex-shrink: 0;
}

.experienceItem strong {
  font-size: 1.1rem;
  color: #333;
}

.experienceItem p {
  margin: 0.3rem 0 0;
  color: #555;
}

.subText {
  font-size: 0.8rem; /* 小さく表示する */
  color: #555; /* 色を少し薄めにする（任意） */
}

.author {
  color: #d0399b;
  text-decoration-line: underline;
  text-decoration-thickness: 1px; /* 下線の太さ */
  text-underline-offset: 3px;      /* 文字との距離 */
}

.titleHighlight {
  color: #134f93;
  font-weight: bold;  
}


